*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

html,body{
    height: 100vh;
}

body{
    background-image: linear-gradient(to left, #00f7ff, #0066ff);
    color: white;
}

input[type="color"]{
    border: 3px solid whitesmoke;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0;
    cursor: pointer;
    background: none;
    width: 70px;
    height: 30px;
    border-radius: 10px;
}

input[type="color"]::-webkit-color-swatch-wrapper{
    padding: 0;
}

input[type="color"]::-webkit-color-swatch{
    border: none;
    border-radius: 6px;
}

.clear{
    clear: both;
}

header{
    width: 100%;
    height: 200px;
}

header .container-titulo{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .container-titulo h2{
    font-size: 35px;
    font-weight: 400;
}

header .container-index{
    height: 60%;
    width: 500px;
    text-align: center;
    float: left;
}

header .container-index h3{
    font-size: 20px;
    font-weight: 300;
}

header .container-index select{
    width: 100px;
    height: 30px;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
    border: 0;
    background: linear-gradient(to right, rgb(0, 255, 200), rgb(0, 145, 89));
    padding-left: 30px;
    line-height: 20px;
    color: white;
}

header .container-index select option{
    background-color: rgb(99, 98, 98);
}

header .container-selc-cores{
    height: 60%;
    width: calc(100% - 500px);
    float: right;
    padding-left: 50px;
}

.container-selc-cores .inputColor-wraper{
    display: flex;
    gap: 20px;
}

.inputSub-wraper{
    min-height: 50px;
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

.container-selc-cores .inputSub-wraper input[type="submit"]{
    width: 65px;
    height: 35px;
    background-color: crimson;
    cursor: pointer;
    color: white;
}

section.container-vs-pre{
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.container-vs-pre .container-config{
    width: 600px;
    height: 100%;
}

.conteudo, .config, .text-wraper > h3{
    transition: background-color 0.5s, color 0.5s;
}

.container-config .conteudo{
    width: 100%;
    height: 100%;
    background-color: #2c2c2c;
    border: 3px solid whitesmoke;
    border-radius: 20px;
    display: flex;
}

.container-config .conteudo .config{
    width: 30%;
    height: 100%;
    background-color: #8b0000;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}

.container-config .conteudo .text-wraper{
    width: 70%;
    height: 100%;
    text-align: center;
    padding: 50px 0;
}

.conteudo .text-wraper h3{
    font-size: 20px;
    font-weight: 400;
}

footer{
    width: 100%;
    height: 145px;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

footer h3{
    font-size: 20px;
    font-weight: 400;
}

footer .container-pre{
    width: 100%;
    padding: 10px 5%;
    display: flex;
    margin-top: 15px;
    cursor: pointer;
}

.preConteudo, .preConfig, .preTexto{
    transition: background-color 0.8s;
}

.preConteudo{
    width: calc(100% / 14);
    height: 40px;
    border: 2px solid whitesmoke;
    margin: 0 10px;
    display: flex;
    border-radius: 10px;
}

/*.preConteudo:nth-of-type(even){
    border: 2px solid black;
}*/

.preConfig{
    width: 35%;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.preTexto-wraper{
    width: 65%;
    height: 100%;
    background-color: initial;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preTexto{
    width: 70%;
    height: 5px;
}