*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html,body{
    height: 100vh;
}

body{
    background: linear-gradient(to left, #00eeff, #0084ff);
}

input[type="color"]{
    border: 3px solid whitesmoke;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0;
    cursor: pointer;
    background: none;
    width: 70px;
    height: 32px;
}

input[type="color"]::-webkit-color-swatch-wrapper{
    padding: 0;
}

input[type="color"]::-webkit-color-swatch{
    border: none;
}

.header{
    width: 100%;
    height: 200px;
}

.header .container-titulo{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-titulo h1{
    color: white;
    font-weight: 400;
}

.container-salvar{
    width: 100%;
    height: 55%;
    display: flex;
}

.salvar-color{
    width: 40%;
    height: 100%;
    padding-left: 50px;
}

.salvar-color h4{
    color: white;
    font-weight: 300;
    padding-bottom: 10px;
    text-align: center;
}

.container-selec{
    width: 100%;
    height: 70%;
    display: flex;
    padding-top: 10px;
    justify-content: center;
}

.salvar-color .container-selec #selec-indice{
    width: 100px;
    height: 30px;
    outline: none;
    background: linear-gradient(to left, #009b6d, #00ffbf);
    padding-left: 30px;
    cursor: pointer;
}

#selec-indice option{
    background-color: rgb(117, 117, 117);
}

.container-inputs{
    width: 60%;
    height: 100%;
}

.inputs{
    margin-left: 10px;
}

#btn-salvar{
    width: 60px;
    height: 35px;
    background-color: crimson;
    cursor: pointer;
    display: block;
    margin: 15px 0 0 100px;
    border-width: 3px;
    color: white;
}

.container-config{
    width: 100%;
    height: calc(80vh - 200px);
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.config{
    width: 500px;
    height: 300px;
    border: 3px solid whitesmoke;
    display: flex;
}

#defPreConfig{
    width: 30%;
    height: 100%;
    background-color: darkred;
    transition: 0.5s;
}

#defPreConteudo{
    width: 70%;
    height: 100%;
    background-color: #2c2c2c;
    display: flex;
    padding-top: 40px;
    justify-content: center;
    color: white;
    transition: 0.5s;
}

#defPreConteudo h3{
    font-size: 20px;
    font-weight: 400;
    transition: 0.5s;
}

.footer{
    width: 100%;
    height: 20vh;
    text-align: center;
    padding: 15px 5%;
}

.footer h2{
    font-size: 20px;
    color: white;
    font-weight: 500;
}

.container-predefinicoes{
    width: 100%;
    padding: 10px 0;
    display: flex;
}

.preConteudo{
    width: calc(100% / 14);
    height: 40px;
    display: inline-block;
    margin: 15px 0 0 20px;
    cursor: pointer;
    border: 2px solid whitesmoke;
    align-items: center;
    position: relative;
    transition: 1s;
}

.preConfig{
    height: 100%;
    width: 30%;
    position: relative;
    top: 0;
    transition: 1s;
}

.preText{
    width: 50%;
    height: 5px;
    position: absolute;
    top: 15px;
    left: calc(30% + 5px);
    transition: 1s;
}